/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Mukta');

$font-family-serif: "Montserrat", sans-serif !default;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$headings-font-family: "Mukta", sans-serif !default;
$primary: #990032;
$navbar-bg: #990032;
$title-banner-color: darkslategray;

/*-- scss:rules --*/

